body {
    font-family: monospace;
    color: white;
    background-color: #2b2a33;
    margin: 0;
    padding: 0;
}

.limit {
    position: relative;
    text-align: center;
    width: 400px;
    max-width: 90%;
    top: 65px;
    margin: 0 auto;
}

.top {
    background-color: #1f1e25;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 900;
}

h3 {
    color: #afafaf;
    font-style: italic;
}

#camera-stream {
    height: 100%;
    background-color: palevioletred;
    background-image: url("https://danieltwinn.github.io/apriltagtool/error.png");
    background-size: 100%;
    background-repeat: repeat;
}