body {
    font-family: monospace;
    color: white;
    text-align: center;
    background-color: #2b2a33;
    margin: 0;
    padding: 0;
}

.limit {
    position: relative;
    text-align: center;
    width: 400px;
    max-width: 99%;
    min-height: 40%;
    margin: 0 auto;
    overflow: hidden;
}

.top {
    background-color: #1f1e25;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 900;
}

h3 {
    color: #afafaf;
    font-style: italic;
}

#camera-stream {
    object-fit: scale-down;
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    background-color: palevioletred;
    background-image: url("https://danieltwinn.github.io/apriltagtool/error.png");
    background-size: cover;
    background-repeat: repeat;
    /*overflow: hidden;*/
}

h4 {
    font-style: italic;
    color: rgb(225, 225, 225);
}
